<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissions</title>
    <!-- Link to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- Link to our external stylesheet -->
    <link rel="stylesheet" href="/stylesheets/Submissions.css">
</head>
<body>

    <main class="container">
        <h1>Submissions</h1>

        <!-- Wrapper for the scrollable table -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>User</th>
                        <th>Submission</th>
                        <th>Time</th>
                        <th>Medal</th>
                    </tr>
                </thead>
                <!-- This table body will be populated by script.js -->
                <tbody id="submissionTableBody">
                    <% submissions.forEach(sub => { %>
                        <tr>
                        <td><%= sub.taskName %></td>
                        <td><%= sub.userId %></td>
                        <td>
                            <% if (sub.zipFile) { %>
                            <a href="/<%= sub.zipFile.replace(/\\/g, '/') %>" download>Download</a>
                            <% } else { %>
                            -
                            <% } %>
                        </td>
                        <td><%= sub.submissionTime || "-" %></td>
                        <td>
                            <select class="medal-select" data-userid="<%= sub.userId %>">
                            <option value="no" <%= sub.medal === 'no' ? 'selected' : '' %>>no</option>
                            <option value="yes" <%= sub.medal === 'yes' ? 'selected' : '' %>>yes</option>
                            
                            </select>
                        </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Link to our JavaScript file -->
    <script src="/javascripts/Submissions.js"></script>
</body>
</html>